body {
    font-family: Veranda;
    background-color: cyan;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

/*
.bold {
    font-weight: bold;
}
*/
.lighter {
    font-weight: lighter;
}
.img-medium {
    height: 200px;
}

